* text=auto
*.cs text eol=lf
*.md text eol=lf
*.json text eol=lf
*.asmdef text eol=lf
*.meta text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
# .asset files can be text OR binary; do not force all .asset files to text.
*.blend filter=lfs diff=lfs merge=lfs -text
*.BLEND filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.FBX filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.PSD filter=lfs diff=lfs merge=lfs -text
